/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

p {
	padding: 15px;
}

h2 {
	padding-top: 15px;
	color: #116189;
	font-weight: bold;
	font-size: 20pt;
}

.content-box {
	background-color: #FFF;
	width: 80%;
	margin: 0 auto;
	box-shadow: 3px 3px 5px #888;
}

.header {
	font-family: Boogaloo;
	font-size: 36px;
	color: #116189;
	font-weight: bold;
}

.gears {
	float: left;
	margin-right: 20px;
}
.motto {
	font-size: 120%;
	font-style: italic;
	padding-top: 0%;
	padding-bottom: 0%;
}

nav ul {
	background-color: #D74710;
	width: 100%;
	border-radius: 5px;
	margin: 0 auto;

}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;

}

nav a:link,
nav a:visited {
	text-decoration: none;
}


nav a:hover {
	background-color: #FF9D45;
	border-radius: 5px;
}

.factory {
	float: left;
	margin-right: 15px;
}

.shipping {
	float: right;
	margin-left 15px;
}

.footer {
	
	border-style:solid;
	border-top-width: 1px;
	border-top-color: #BEBEBE;
	font-style: italic;
	font-size: 80%;
}

.team {
	float: left;
	padding-right: 5px;
}
.name {
	color: #116189;
	padding-bottom: 0%;
	font-weight: bold;
}


